$color-white: #fff;
$color-black: #000;
$color-grey: #B5B8BD;
$color-dark-grey: #A9AAAD;
$color-red: #DE4E2A;

$font-helvetica-neue: 'HelveticaNeueLTStd Roman', Arial, sans-serif;
$font-helvetica-neue-bold: 'HelveticaNeueLTStd Bd', Arial, sans-serif;
$font-helvetica-neue-light: 'HelveticaNeueLTStd Lt', Arial, sans-serif;
$font-helvetica-neue-medium: 'HelveticaNeueLTStd Md', Arial, sans-serif;
$font-helvetica-neue-medium-for-mobile: 'HelveticaNeueMedium', Arial, sans-serif;
$font-sf-pro-display: 'SFProDisplay', Arial, sans-serif;
$font-sf-pro-display-medium: 'SFProDisplay Medium', Arial, sans-serif;
$font-sf-pro-text-light: 'SFProText Light', Arial, sans-serif;
$font-poppins: 'Poppins', Arial, sans-serif;
$font-poppins-bold: 'Poppins Bold', Arial, sans-serif;
$font-poppins-medium: 'Poppins Medium', Arial, sans-serif;
$font-poppins-extrabold: 'Poppins ExtraBold', Arial, sans-serif;
$font-din-bold: 'DIN Bold', Arial, sans-serif;
$font-din-alternate-bold: 'DINAlternate Bold', Arial, sans-serif;
$font-lato-heavy: 'Lato Heavy', Arial, sans-serif;